@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121725;
  font-family: 'Chivo', sans-serif;
  font-size: 1.8rem;
}

@media (min-width: 1366px) {
  body {
    padding: 2rem 0;
    padding-left: 10rem;
    overflow: hidden;
  }
}

